Climate Scope Project

In [44]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
df = pd.read_csv('GlobalWeatherRepository.csv')

In [46]:
df.head()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1715849100,2024-05-16 13:15,26.6,79.8,Partly Cloudy,...,8.4,26.6,1,1,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1715849100,2024-05-16 10:45,19.0,66.2,Partly cloudy,...,1.1,2.0,1,1,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1715849100,2024-05-16 09:45,23.0,73.4,Sunny,...,10.4,18.4,1,1,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1715849100,2024-05-16 10:45,6.3,43.3,Light drizzle,...,0.7,0.9,1,1,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1715849100,2024-05-16 09:45,26.0,78.8,Partly cloudy,...,183.4,262.3,5,10,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55

In [47]:
df.tail()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
107568,Venezuela,Caracas,10.5000,-66.9167,America/Caracas,1763622900,2025-11-20 03:15,24.2,75.6,Partly cloudy,...,6.95,7.15,1,1,06:25 AM,06:02 PM,06:36 AM,06:17 PM,New Moon,0
107569,Vietnam,Hanoi,21.0333,105.8500,Asia/Bangkok,1763622900,2025-11-20 14:15,23.2,73.8,Partly Cloudy,...,43.15,43.85,3,5,06:10 AM,05:14 PM,06:01 AM,05:02 PM,New Moon,0
107570,Yemen,Sanaa,15.3547,44.2067,Asia/Aden,1763622900,2025-11-20 10:15,13.5,56.3,Sunny,...,22.65,36.15,2,2,06:08 AM,05:30 PM,06:05 AM,05:29 PM,New Moon,0
107571,Zambia,Lusaka,-15.4167,28.2833,Africa/Lusaka,1763622900,2025-11-20 09:15,16.8,62.2,Light rain shower,...,2.85,2.95,1,1,05:26 AM,06:19 PM,05:13 AM,06:36 PM,New Moon,0
107572,Zimbabwe,Harare,-17.8178,31.0447,Africa/Harare,1763622900,2025-11-20 09:15,18.9,66.0,Patchy rain nearby,...,4.05,4.05,1,1,05:11 AM,06:12 PM,04:57 AM,06:30 PM,New Moon,0

Exploratory Data Analysis

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107573 entries, 0 to 107572
Data columns (total 41 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   country                       107573 non-null  object
 1   location_name                 107573 non-null  object
 2   latitude                      107573 non-null  float64
 3   longitude                     107573 non-null  float64
 4   timezone                      107573 non-null  object
 5   last_updated_epoch            107573 non-null  int64
 6   last_updated                  107573 non-null  object
 7   temperature_celsius           107573 non-null  float64
 8   temperature_fahrenheit        107573 non-null  float64
 9   condition_text                107573 non-null  object
 10  wind_mph                      107573 non-null  float64
 11  wind_kph                      107573 non-null  float64
 12  wind_degree                   107573 non-null  int64
 13  wind_direction                107573 non-null  object
 14  pressure_mb                   107573 non-null  float64
 15  pressure_in                   107573 non-null  float64
 16  precip_mm                     107573 non-null  float64
 17  precip_in                     107573 non-null  float64
 18  humidity                      107573 non-null  int64
 19  cloud                         107573 non-null  int64
 20  feels_like_celsius            107573 non-null  float64
 21  feels_like_fahrenheit         107573 non-null  float64
 22  visibility_km                 107573 non-null  float64
 23  visibility_miles              107573 non-null  float64
 24  uv_index                      107573 non-null  float64
 25  gust_mph                      107573 non-null  float64
 26  gust_kph                      107573 non-null  float64
 27  air_quality_Carbon_Monoxide   107573 non-null  float64
 28  air_quality_Ozone             107573 non-null  float64
 29  air_quality_Nitrogen_dioxide  107573 non-null  float64
 30  air_quality_Sulphur_dioxide   107573 non-null  float64
 31  air_quality_PM2.5             107573 non-null  float64
 32  air_quality_PM10              107573 non-null  float64
 33  air_quality_us-epa-index      107573 non-null  int64
 34  air_quality_gb-defra-index    107573 non-null  int64
 35  sunrise                       107573 non-null  object
 36  sunset                        107573 non-null  object
 37  moonrise                      107573 non-null  object
 38  moonset                       107573 non-null  object
 39  moon_phase                    107573 non-null  object
 40  moon_illumination             107573 non-null  int64
dtypes: float64(23), int64(7), object(11)
memory usage: 33.6+ MB

In [49]:
df.describe()

,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,pressure_in,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
count,107573.000000,107573.000000,1.075730e+05,107573.000000,107573.000000,107573.000000,107573.000000,107573.000000,107573.000000,107573.000000,...,107573.000000,107573.000000,107573.000000,107573.000000,107573.000000,107573.000000,107573.000000,107573.000000,107573.000000,107573.000000
mean,19.168648,22.046254,1.739792e+09,22.539398,72.572686,8.149235,13.118378,170.668281,1014.037667,29.943867,...,18.355815,499.404069,61.236677,15.593554,10.948627,25.286413,51.290666,1.731336,2.687087,49.844292
std,24.443779,65.803416,1.381541e+07,8.880167,15.984118,7.650346,12.309373,102.745044,11.021829,0.325429,...,14.342839,819.018505,31.774609,25.353276,39.088080,39.452629,158.451561,0.965388,2.515323,35.079434
min,-41.300000,-175.200000,1.715849e+09,-24.900000,-12.800000,2.200000,3.600000,1.000000,947.000000,27.960000,...,3.600000,-9999.000000,0.000000,0.000000,-9999.000000,0.168000,-1848.150000,1.000000,1.000000,0.000000
25%,3.750000,-6.836100,1.727861e+09,17.400000,63.300000,4.000000,6.500000,83.000000,1010.000000,29.830000,...,10.400000,225.700000,41.000000,1.480000,0.925000,7.215000,10.371000,1.000000,1.000000,15.000000
50%,17.250000,23.316700,1.739787e+09,24.400000,75.900000,6.900000,11.200000,164.000000,1013.000000,29.930000,...,15.700000,317.100000,58.000000,5.180000,2.405000,14.615000,21.090000,1.000000,2.000000,50.000000
75%,40.400000,50.580000,1.751794e+09,28.200000,82.800000,11.200000,18.000000,256.000000,1018.000000,30.060000,...,24.200000,493.950000,78.000000,17.945000,8.880000,28.675000,43.660000,2.000000,3.000000,85.000000
max,64.150000,179.220000,1.763623e+09,49.200000,120.600000,1841.200000,2963.200000,360.000000,3006.000000,88.770000,...,2970.400000,38879.398000,480.700000,427.700000,521.330000,1614.100000,6037.290000,6.000000,10.000000,100.000000

In [50]:
df.shape

(107573, 41)

In [51]:
df.columns

Index(['country', 'location_name', 'latitude', 'longitude', 'timezone',
       'last_updated_epoch', 'last_updated', 'temperature_celsius',
       'temperature_fahrenheit', 'condition_text', 'wind_mph', 'wind_kph',
       'wind_degree', 'wind_direction', 'pressure_mb', 'pressure_in',
       'precip_mm', 'precip_in', 'humidity', 'cloud', 'feels_like_celsius',
       'feels_like_fahrenheit', 'visibility_km', 'visibility_miles',
       'uv_index', 'gust_mph', 'gust_kph', 'air_quality_Carbon_Monoxide',
       'air_quality_Ozone', 'air_quality_Nitrogen_dioxide',
       'air_quality_Sulphur_dioxide', 'air_quality_PM2.5', 'air_quality_PM10',
       'air_quality_us-epa-index', 'air_quality_gb-defra-index', 'sunrise',
       'sunset', 'moonrise', 'moonset', 'moon_phase', 'moon_illumination'],
      dtype='object')

In [52]:
df.isnull().sum()

country                         0
location_name                   0
latitude                        0
longitude                       0
timezone                        0
last_updated_epoch              0
last_updated                    0
temperature_celsius             0
temperature_fahrenheit          0
condition_text                  0
wind_mph                        0
wind_kph                        0
wind_degree                     0
wind_direction                  0
pressure_mb                     0
pressure_in                     0
precip_mm                       0
precip_in                       0
humidity                        0
cloud                           0
feels_like_celsius              0
feels_like_fahrenheit           0
visibility_km                   0
visibility_miles                0
uv_index                        0
gust_mph                        0
gust_kph                        0
air_quality_Carbon_Monoxide     0
air_quality_Ozone               0
air_quality_Nitrogen_dioxide    0
air_quality_Sulphur_dioxide     0
air_quality_PM2.5               0
air_quality_PM10                0
air_quality_us-epa-index        0
air_quality_gb-defra-index      0
sunrise                         0
sunset                          0
moonrise                        0
moonset                         0
moon_phase                      0
moon_illumination               0
dtype: int64

In [53]:
df.duplicated().sum()

np.int64(0)

In [54]:
df = df.drop_duplicates()

In [55]:
df.shape

(107573, 41)

In [56]:
date_cols = [col for col in df.columns if "date" in col.lower()]

for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors='coerce')

df[date_cols].head()

             last_updated_epoch        last_updated
0 1970-01-01 00:00:01.715849100 2024-05-16 13:15:00
1 1970-01-01 00:00:01.715849100 2024-05-16 10:45:00
2 1970-01-01 00:00:01.715849100 2024-05-16 09:45:00
3 1970-01-01 00:00:01.715849100 2024-05-16 10:45:00
4 1970-01-01 00:00:01.715849100 2024-05-16 09:45:00

In [57]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [58]:
df.head()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_pm2.5,air_quality_pm10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1970-01-01 00:00:01.715849100,2024-05-16 13:15:00,26.6,79.8,Partly Cloudy,...,8.4,26.6,1,1,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1970-01-01 00:00:01.715849100,2024-05-16 10:45:00,19.0,66.2,Partly cloudy,...,1.1,2.0,1,1,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1970-01-01 00:00:01.715849100,2024-05-16 09:45:00,23.0,73.4,Sunny,...,10.4,18.4,1,1,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1970-01-01 00:00:01.715849100,2024-05-16 10:45:00,6.3,43.3,Light drizzle,...,0.7,0.9,1,1,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1970-01-01 00:00:01.715849100,2024-05-16 09:45:00,26.0,78.8,Partly cloudy,...,183.4,262.3,5,10,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55

In [59]:
numeric_cols = df.select_dtypes(include=['float64','int64']).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

In [60]:
categorical_cols = df.select_dtypes(include=['object']).columns

for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [61]:
# Example conversions:
# Fahrenheit → Celsius
if 'temperature' in df.columns:
    df['temperature_C'] = (df['temperature'] - 32) * (5/9)

# Wind speed mph → m/s
if 'wind_speed' in df.columns:
    df['wind_speed_ms'] = df['wind_speed'] * 0.44704

In [62]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

In [66]:
summary = {
    "Total Rows": df.shape[0],
    "Total Columns": df.shape[1],
    "Numeric Columns": list(numeric_cols),
    "Categorical Columns": list(categorical_cols),
    "Missing Value Columns": df.isnull().sum()[df.isnull().sum()>0].to_dict(),
}

summary

{'Total Rows': 107573,
 'Total Columns': 41,
 'Numeric Columns': ['latitude',
  'longitude',
  'temperature_celsius',
  'temperature_fahrenheit',
  'wind_mph',
  'wind_kph',
  'wind_degree',
  'pressure_mb',
  'pressure_in',
  'precip_mm',
  'precip_in',
  'humidity',
  'cloud',
  'feels_like_celsius',
  'feels_like_fahrenheit',
  'visibility_km',
  'visibility_miles',
  'uv_index',
  'gust_mph',
  'gust_kph',
  'air_quality_carbon_monoxide',
  'air_quality_ozone',
  'air_quality_nitrogen_dioxide',
  'air_quality_sulphur_dioxide',
  'air_quality_pm2.5',
  'air_quality_pm10',
  'air_quality_us-epa-index',
  'air_quality_gb-defra-index',
  'moon_illumination'],
 'Categorical Columns': ['country',
  'location_name',
  'timezone',
  'condition_text',
  'wind_direction',
  'sunrise',
  'sunset',
  'moonrise',
  'moonset',
  'moon_phase'],
 'Missing Value Columns': {}}