In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
df = pd.read_csv("GlobalWeatherRepository.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107768 entries, 0 to 107767
Data columns (total 41 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   country                       107768 non-null  object
 1   location_name                 107768 non-null  object
 2   latitude                      107768 non-null  float64
 3   longitude                     107768 non-null  float64
 4   timezone                      107768 non-null  object
 5   last_updated_epoch            107768 non-null  int64
 6   last_updated                  107768 non-null  object
 7   temperature_celsius           107768 non-null  float64
 8   temperature_fahrenheit        107768 non-null  float64
 9   condition_text                107768 non-null  object
 10  wind_mph                      107768 non-null  float64
 11  wind_kph                      107768 non-null  float64
 12  wind_degree                   107768 non-null  int64
 13  wind_direction                107768 non-null  object
 14  pressure_mb                   107768 non-null  float64
 15  pressure_in                   107768 non-null  float64
 16  precip_mm                     107768 non-null  float64
 17  precip_in                     107768 non-null  float64
 18  humidity                      107768 non-null  int64
 19  cloud                         107768 non-null  int64
 20  feels_like_celsius            107768 non-null  float64
 21  feels_like_fahrenheit         107768 non-null  float64
 22  visibility_km                 107768 non-null  float64
 23  visibility_miles              107768 non-null  float64
 24  uv_index                      107768 non-null  float64
 25  gust_mph                      107768 non-null  float64
 26  gust_kph                      107768 non-null  float64
 27  air_quality_Carbon_Monoxide   107768 non-null  float64
 28  air_quality_Ozone             107768 non-null  float64
 29  air_quality_Nitrogen_dioxide  107768 non-null  float64
 30  air_quality_Sulphur_dioxide   107768 non-null  float64
 31  air_quality_PM2.5             107768 non-null  float64
 32  air_quality_PM10              107768 non-null  float64
 33  air_quality_us-epa-index      107768 non-null  int64
 34  air_quality_gb-defra-index    107768 non-null  int64
 35  sunrise                       107768 non-null  object
 36  sunset                        107768 non-null  object
 37  moonrise                      107768 non-null  object
 38  moonset                       107768 non-null  object
 39  moon_phase                    107768 non-null  object
 40  moon_illumination             107768 non-null  int64
dtypes: float64(23), int64(7), object(11)
memory usage: 33.7+ MB

In [7]:
df.head()

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1715849100,2024-05-16 13:15,26.6,79.8,Partly Cloudy,...,8.4,26.6,1,1,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1715849100,2024-05-16 10:45,19.0,66.2,Partly cloudy,...,1.1,2.0,1,1,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1715849100,2024-05-16 09:45,23.0,73.4,Sunny,...,10.4,18.4,1,1,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1715849100,2024-05-16 10:45,6.3,43.3,Light drizzle,...,0.7,0.9,1,1,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1715849100,2024-05-16 09:45,26.0,78.8,Partly cloudy,...,183.4,262.3,5,10,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55

In [9]:
df.describe(include="all")

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
count,107768,107768,107768.000000,107768.000000,107768,1.077680e+05,107768,107768.000000,107768.000000,107768,...,107768.000000,107768.000000,107768.000000,107768.000000,107768,107768,107768,107768,107768,107768.000000
unique,211,254,NaN,NaN,197,NaN,18597,NaN,NaN,47,...,NaN,NaN,NaN,NaN,464,544,1441,1441,8,NaN
top,Bulgaria,Kabul,NaN,NaN,Asia/Bangkok,NaN,2024-11-06 10:00,NaN,NaN,Partly cloudy,...,NaN,NaN,NaN,NaN,05:57 AM,06:02 PM,No moonrise,No moonset,Waxing Gibbous,NaN
freq,1228,554,NaN,NaN,2070,NaN,44,NaN,NaN,32990,...,NaN,NaN,NaN,NaN,1231,1101,3692,3497,23695,NaN
mean,NaN,NaN,19.169007,22.045126,NaN,1.739835e+09,NaN,22.530220,72.556160,NaN,...,25.273134,51.250554,1.730866,2.685983,NaN,NaN,NaN,NaN,NaN,49.755233
std,NaN,NaN,24.443505,65.803116,NaN,1.384028e+07,NaN,8.885309,15.993374,NaN,...,39.430747,158.335319,0.965128,2.514524,NaN,NaN,NaN,NaN,NaN,35.110054
min,NaN,NaN,-41.300000,-175.200000,NaN,1.715849e+09,NaN,-24.900000,-12.800000,NaN,...,0.168000,-1848.150000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,3.750000,-6.836100,NaN,1.727861e+09,NaN,17.400000,63.300000,NaN,...,7.215000,10.360000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,15.000000
50%,NaN,NaN,17.250000,23.316700,NaN,1.739874e+09,NaN,24.400000,75.900000,NaN,...,14.615000,21.090000,1.000000,2.000000,NaN,NaN,NaN,NaN,NaN,50.000000
75%,NaN,NaN,40.400000,50.580000,NaN,1.751796e+09,NaN,28.200000,82.800000,NaN,...,28.675000,43.660000,2.000000,3.000000,NaN,NaN,NaN,NaN,NaN,84.000000
max,NaN,NaN,64.150000,179.220000,NaN,1.763709e+09,NaN,49.200000,120.600000,NaN,...,1614.100000,6037.290000,6.000000,10.000000,NaN,NaN,NaN,NaN,NaN,100.000000

In [11]:
df.isnull().sum()

country                         0
location_name                   0
latitude                        0
longitude                       0
timezone                        0
last_updated_epoch              0
last_updated                    0
temperature_celsius             0
temperature_fahrenheit          0
condition_text                  0
wind_mph                        0
wind_kph                        0
wind_degree                     0
wind_direction                  0
pressure_mb                     0
pressure_in                     0
precip_mm                       0
precip_in                       0
humidity                        0
cloud                           0
feels_like_celsius              0
feels_like_fahrenheit           0
visibility_km                   0
visibility_miles                0
uv_index                        0
gust_mph                        0
gust_kph                        0
air_quality_Carbon_Monoxide     0
air_quality_Ozone               0
air_quality_Nitrogen_dioxide    0
air_quality_Sulphur_dioxide     0
air_quality_PM2.5               0
air_quality_PM10                0
air_quality_us-epa-index        0
air_quality_gb-defra-index      0
sunrise                         0
sunset                          0
moonrise                        0
moonset                         0
moon_phase                      0
moon_illumination               0
dtype: int64

In [13]:
df.columns

Index(['country', 'location_name', 'latitude', 'longitude', 'timezone',
       'last_updated_epoch', 'last_updated', 'temperature_celsius',
       'temperature_fahrenheit', 'condition_text', 'wind_mph', 'wind_kph',
       'wind_degree', 'wind_direction', 'pressure_mb', 'pressure_in',
       'precip_mm', 'precip_in', 'humidity', 'cloud', 'feels_like_celsius',
       'feels_like_fahrenheit', 'visibility_km', 'visibility_miles',
       'uv_index', 'gust_mph', 'gust_kph', 'air_quality_Carbon_Monoxide',
       'air_quality_Ozone', 'air_quality_Nitrogen_dioxide',
       'air_quality_Sulphur_dioxide', 'air_quality_PM2.5', 'air_quality_PM10',
       'air_quality_us-epa-index', 'air_quality_gb-defra-index', 'sunrise',
       'sunset', 'moonrise', 'moonset', 'moon_phase', 'moon_illumination'],
      dtype='object')

In [17]:
df[df["temperature_celsius"] < -80]    # unrealistic
df[df["temperature_celsius"] > 60]     # unrealistic

Empty DataFrame
Columns: [country, location_name, latitude, longitude, timezone, last_updated_epoch, last_updated, temperature_celsius, temperature_fahrenheit, condition_text, wind_mph, wind_kph, wind_degree, wind_direction, pressure_mb, pressure_in, precip_mm, precip_in, humidity, cloud, feels_like_celsius, feels_like_fahrenheit, visibility_km, visibility_miles, uv_index, gust_mph, gust_kph, air_quality_Carbon_Monoxide, air_quality_Ozone, air_quality_Nitrogen_dioxide, air_quality_Sulphur_dioxide, air_quality_PM2.5, air_quality_PM10, air_quality_us-epa-index, air_quality_gb-defra-index, sunrise, sunset, moonrise, moonset, moon_phase, moon_illumination]
Index: []

[0 rows x 41 columns]

In [21]:
df = df.dropna(subset=["temperature_celsius"])

In [23]:
df["humidity"] = df["humidity"].fillna(df["humidity"].median())
df = df.fillna(df.median(numeric_only=True))

In [25]:
df["last_updated"] = pd.to_datetime(df["last_updated"], errors="coerce")
df = df.dropna(subset=["last_updated"])

In [27]:
df = df[(df["temperature_celsius"] > -80) & (df["temperature_celsius"] < 60)]
df = df[df["precip_mm"] >= 0]
df = df[df["wind_kph"] >= 0]

In [29]:
df["year"] = df["last_updated"].dt.year
df["month"] = df["last_updated"].dt.month

monthly_df = df.groupby(["year", "month"], as_index=False).mean(numeric_only=True)
monthly_df.head()

,year,month,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
0,2024,5,19.330079,21.252653,1.716476e+09,25.153214,77.275500,8.897635,14.322680,170.234384,...,22.285567,527.585263,60.698423,10.185324,6.788720,17.821771,33.466252,1.391146,1.850819,78.780776
1,2024,6,19.169585,21.786945,1.718494e+09,26.456036,79.622507,9.127415,14.694197,178.421044,...,22.217324,501.149371,63.579353,9.038798,6.582004,16.837369,30.644171,1.358016,1.788359,49.536077
2,2024,7,19.090607,22.195843,1.721096e+09,26.800448,80.242645,8.684089,13.979538,183.502419,...,20.857391,446.389697,65.601846,8.044042,4.098208,15.947017,28.087225,1.318043,1.712955,43.570865
3,2024,8,19.107315,22.088584,1.723808e+09,26.789677,80.223093,8.643540,13.915649,180.594045,...,20.407428,438.953069,67.023672,8.006352,5.857237,14.332291,24.084119,1.310835,1.720430,45.561125
4,2024,9,19.064397,22.147510,1.726441e+09,25.124402,77.226417,8.222507,13.235980,169.814720,...,18.974658,407.732131,70.947643,10.442420,9.618837,20.946278,44.547416,1.618852,2.353654,46.063525