In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("GlobalWeatherRepository.csv")

Checking For Missing Value

In [3]:
df.isnull().sum()

country                         0
location_name                   0
latitude                        0
longitude                       0
timezone                        0
last_updated_epoch              0
last_updated                    0
temperature_celsius             0
temperature_fahrenheit          0
condition_text                  0
wind_mph                        0
wind_kph                        0
wind_degree                     0
wind_direction                  0
pressure_mb                     0
pressure_in                     0
precip_mm                       0
precip_in                       0
humidity                        0
cloud                           0
feels_like_celsius              0
feels_like_fahrenheit           0
visibility_km                   0
visibility_miles                0
uv_index                        0
gust_mph                        0
gust_kph                        0
air_quality_Carbon_Monoxide     0
air_quality_Ozone               0
air_quality_Nitrogen_dioxide    0
air_quality_Sulphur_dioxide     0
air_quality_PM2.5               0
air_quality_PM10                0
air_quality_us-epa-index        0
air_quality_gb-defra-index      0
sunrise                         0
sunset                          0
moonrise                        0
moonset                         0
moon_phase                      0
moon_illumination               0
dtype: int64

In [4]:
df.isnull().any(axis=1)

0         False
1         False
2         False
3         False
4         False
          ...
106983    False
106984    False
106985    False
106986    False
106987    False
Length: 106988, dtype: bool

In [5]:
print("Dataset Consists of No Missing Value ")

Dataset Consists of No Missing Value

In [10]:
df.columns

Index(['country', 'location_name', 'latitude', 'longitude', 'timezone',
       'last_updated_epoch', 'last_updated', 'temperature_celsius',
       'temperature_fahrenheit', 'condition_text', 'wind_mph', 'wind_kph',
       'wind_degree', 'wind_direction', 'pressure_mb', 'pressure_in',
       'precip_mm', 'precip_in', 'humidity', 'cloud', 'feels_like_celsius',
       'feels_like_fahrenheit', 'visibility_km', 'visibility_miles',
       'uv_index', 'gust_mph', 'gust_kph', 'air_quality_Carbon_Monoxide',
       'air_quality_Ozone', 'air_quality_Nitrogen_dioxide',
       'air_quality_Sulphur_dioxide', 'air_quality_PM2.5', 'air_quality_PM10',
       'air_quality_us-epa-index', 'air_quality_gb-defra-index', 'sunrise',
       'sunset', 'moonrise', 'moonset', 'moon_phase', 'moon_illumination'],
      dtype='object')

Handle INCONSISTENT entries

In [ ]:
# Negative rainfall
df[df['precip_mm']< 0]

Empty DataFrame
Columns: [country, location_name, latitude, longitude, timezone, last_updated_epoch, last_updated, temperature_celsius, temperature_fahrenheit, condition_text, wind_mph, wind_kph, wind_degree, wind_direction, pressure_mb, pressure_in, precip_mm, precip_in, humidity, cloud, feels_like_celsius, feels_like_fahrenheit, visibility_km, visibility_miles, uv_index, gust_mph, gust_kph, air_quality_Carbon_Monoxide, air_quality_Ozone, air_quality_Nitrogen_dioxide, air_quality_Sulphur_dioxide, air_quality_PM2.5, air_quality_PM10, air_quality_us-epa-index, air_quality_gb-defra-index, sunrise, sunset, moonrise, moonset, moon_phase, moon_illumination]
Index: []

[0 rows x 41 columns]

In [ ]:
# Negative Wind Speed
df[df['wind_mph']<0]

Empty DataFrame
Columns: [country, location_name, latitude, longitude, timezone, last_updated_epoch, last_updated, temperature_celsius, temperature_fahrenheit, condition_text, wind_mph, wind_kph, wind_degree, wind_direction, pressure_mb, pressure_in, precip_mm, precip_in, humidity, cloud, feels_like_celsius, feels_like_fahrenheit, visibility_km, visibility_miles, uv_index, gust_mph, gust_kph, air_quality_Carbon_Monoxide, air_quality_Ozone, air_quality_Nitrogen_dioxide, air_quality_Sulphur_dioxide, air_quality_PM2.5, air_quality_PM10, air_quality_us-epa-index, air_quality_gb-defra-index, sunrise, sunset, moonrise, moonset, moon_phase, moon_illumination]
Index: []

[0 rows x 41 columns]

In [ ]:
# Check Humidity Range (0–100% only)
df[(df['humidity'] < 0 )| (df['humidity'] > 100 )]

Empty DataFrame
Columns: [country, location_name, latitude, longitude, timezone, last_updated_epoch, last_updated, temperature_celsius, temperature_fahrenheit, condition_text, wind_mph, wind_kph, wind_degree, wind_direction, pressure_mb, pressure_in, precip_mm, precip_in, humidity, cloud, feels_like_celsius, feels_like_fahrenheit, visibility_km, visibility_miles, uv_index, gust_mph, gust_kph, air_quality_Carbon_Monoxide, air_quality_Ozone, air_quality_Nitrogen_dioxide, air_quality_Sulphur_dioxide, air_quality_PM2.5, air_quality_PM10, air_quality_us-epa-index, air_quality_gb-defra-index, sunrise, sunset, moonrise, moonset, moon_phase, moon_illumination]
Index: []

[0 rows x 41 columns]

In [ ]:
# Check Date Format Consistency
df['last_updated']= pd.to_datetime(df['last_updated'],dayfirst=True,errors='coerce')
print(df['last_updated'])

0        2024-05-16 13:15:00
1        2024-05-16 10:45:00
2        2024-05-16 09:45:00
3        2024-05-16 10:45:00
4        2024-05-16 09:45:00
                 ...
106983   2025-11-17 03:15:00
106984   2025-11-17 14:15:00
106985   2025-11-17 10:15:00
106986   2025-11-17 09:15:00
106987   2025-11-17 09:15:00
Name: last_updated, Length: 106988, dtype: datetime64[ns]

In [ ]:
# check Numeric columns which contains text 
df['temperature_celsius']=pd.to_numeric(df['temperature_celsius'],errors='coerce')
print(df['temperature_celsius'])

0         26.6
1         19.0
2         23.0
3          6.3
4         26.0
          ...
106983    25.2
106984    26.3
106985    17.1
106986    20.1
106987    17.9
Name: temperature_celsius, Length: 106988, dtype: float64

In [ ]:
# Check Categorical Inconsistencies (Typos)
df['condition_text'].value_counts()

condition_text
Partly cloudy                                  32804
Sunny                                          32758
Patchy rain nearby                              8894
Partly Cloudy                                   6061
Overcast                                        5279
Clear                                           4718
Mist                                            3508
Light rain                                      3274
Light rain shower                               2553
Cloudy                                          1103
Fog                                             1067
Moderate or heavy rain with thunder              950
Moderate rain                                    823
Patchy light rain with thunder                   670
Light drizzle                                    486
Patchy light drizzle                             353
Moderate or heavy rain shower                    248
Thundery outbreaks in nearby                     228
Light snow                                       198
Patchy light rain                                181
Patchy light rain in area with thunder           176
Moderate rain at times                            96
Freezing fog                                      64
Heavy snow                                        59
Heavy rain                                        50
Light snow showers                                43
Moderate snow                                     40
Patchy rain possible                              38
Moderate or heavy snow showers                    36
Light sleet                                       35
Light freezing rain                               35
Patchy light snow                                 31
Thundery outbreaks possible                       25
Blowing snow                                      20
Patchy heavy snow                                 15
Torrential rain shower                            12
Heavy rain at times                               12
Moderate or heavy rain in area with thunder       10
Light sleet showers                                7
Patchy moderate snow                               7
Blizzard                                           5
Patchy light snow in area with thunder             5
Moderate or heavy sleet                            3
Freezing drizzle                                   2
Moderate or heavy snow in area with thunder        2
Patchy snow nearby                                 2
Patchy snow possible                               2
Name: count, dtype: int64

In [25]:
df.duplicated().sum()

np.int64(0)

In [26]:
print("Data Quality Check Completed: No missing values and no inconsistent entries were detected in the dataset.")

Data Quality Check Completed: No missing values and no inconsistent entries were detected in the dataset.